@font-face {
  font-family: Borse;
  src: url(transfonter.org-20260510-130315/Norse-Bold.woff2);
  src: url(transfonter.org-20260510-130315/Norse-Bold.woff);
  font-weight: normal;
  font-size: normal;
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-image: url(lan-gao-KBuWjEVavM8-unsplash.jpg);
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding-left: 100px;
  color: white;
  display: flex;
  align-items: center;
}

.container {
  display: flex;
  gap: 100px;
  height: fit-content;
  width: 100%;
  border-radius: 20px 0 0 20px;
  background-color: rgba(255, 255, 255, 0.03);
  box-shadow: 1px 1px 3px white;
}
.sign-form {
  height: fit-content;
  border-radius: 20px;
  padding: 17px 30px;
}
.form-container {
  width: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px 50px;
}

legend,
.submit {
  text-align: center;
}
label {
  display: block;
  width: auto;
}
input,
button {
  border: 1px solid white;
  border-radius: 10px;
  background-color: black;
  color: white;
  padding: 8px;
}

button {
  font-weight: bolder;
  padding: 5px 30px;
  cursor: pointer;
}
.submit {
  margin-top: 20px;
}

input:focus {
  border: 1px solid navy;
  box-shadow: 1px 1px 3px white;
}

#pwd:invalid,
#cpwd:invalid {
  border: 1px solid red;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0px 1000px black inset !important;
  -webkit-text-fill-color: white !important;
  transition: background-color 5000s ease-in-out 0s;
}

h2 {
  margin: 10px 0;
}

img {
  width: 200px;
  height: 200px;
}
.title {
  font: 1em "Borse";
  text-align: center;
  font-size: 45px;
}
.title-hero {
  padding: 10px 30px;
  height: fit-content;
}
a {
  color: white;
  font-weight: bolder;
  text-decoration: none;
}
p {
  margin: 5px;
}
